body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
}

.register-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.form-container {
    flex: 1;
    max-width: 35%;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #323232;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    font-weight: 700;
}

p {
    margin-top: auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

label {
    margin-bottom: 8px;
    font-weight: 700;
    color: #666;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Space for the toggle button */
    color: #333;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

input[type="text"],
input[type="email"],
button {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
button:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

button {
    background-color: #008000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    background-color: #005700;
    transform: translateY(-2px);
}
